.Tilt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 45, 238, 1) 100%
  );
  color: white;
  border: 2px solid black;
  border-radius: 50px;

  transform-style: preserve-3d;
}

.Tilt-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
}
